# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.dylib.o

# editor goodies
.idea
Zig.iml
.zed
.vscode
.devcontainer

# macos stuff
.DS_Store
*/.DS_Store

# private dir for notes and such
private/
.private/

# log output
*.log

# zig cache/build stuff
.zig-cache
zig-out

# pcre2 that will be cloned during builds
lib/pcre2/pcre2

# ignore any "main.zig" in this repo, this would be used by `zig build --main` and is used to
# quickly build a main.zig for testing during development
/main.zig

# where we mount stuff when running clab bits
.clab
