---
name: release

on:
  release:
    types:
      - created

jobs:
  release:
    # running on macos since x86 macos seems to not want to compile nicely due to some openssl stuff
    # on debian/ubuntu and too lazy rn to figure it out!
    runs-on: macos-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      # not present by default on macos gh runner
      - name: install shasum256
        run: |
          brew install coreutils

      - name: set release version
        run: |
          RELEASE_TAG=${{ github.ref_name }}
          RELEASE_VERSION=${RELEASE_TAG#v}

          echo "RELEASE_VERSION=$RELEASE_VERSION" >> "$GITHUB_ENV"

      - name: set version information
        run: |
          ./build/update_version.sh ${{ env.RELEASE_VERSION }}

      - name: load env vars for workflow run
        run: |
          source .github/vars.env
          echo "ZIG_VERSION=$ZIG_VERSION" >> "$GITHUB_ENV"

      - name: setup zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.ZIG_VERSION }}

      # do this before building but after updating versions so there is a tar of the source but
      # not including all our zig cache/out stuff
      - name: make release tarball
        run: |
          tar czf libscrapli-${{ github.ref_name }}.tar.gz .

      - name: upload tarball to release
        run: |
          gh release upload ${{ github.ref_name }} libscrapli-${{ github.ref_name }}.tar.gz --clobber
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}

      # never got around to figuring out how to ensure the openssl generate step runs *once* even
      # when being built against all the targets, so this is a quick/easy hack to ensure that :)
      - name: ensure openssl generate step cached
        run: |
          zig build
        working-directory: lib/openssl

      - name: build release shared objects
        run: |
          make build-release

      - name: extract version number from files
        run: |
          LIB_VERSION=$(basename $(ls zig-out/aarch64-linux-gnu) | grep -o -E "\d+\.\d+\.\d+(.*)?")
          echo "LIB_VERSION=$LIB_VERSION" >> "$GITHUB_ENV"

      # note, have to rename before uploading since libscrapli.so.VERSION is the same for all the
      # linux variants (and equally .dylib for macos) and gh doesnt appreciate this!
      - name: upload built shared objects to release
        run: |
          gh release upload ${{ github.ref_name }} zig-out/checksums.txt

          mv zig-out/aarch64-linux-gnu/libscrapli.so.${{ env.LIB_VERSION }} zig-out/aarch64-linux-gnu/libscrapli-aarch64-linux-gnu.so.${{ env.LIB_VERSION }}
          gh release upload ${{ github.ref_name }} zig-out/aarch64-linux-gnu/libscrapli-aarch64-linux-gnu.so.${{ env.LIB_VERSION }}#libscrapli-aarch64-linux-gnu-${{ env.RELEASE_VERSION }}

          mv zig-out/aarch64-linux-musl/libscrapli.so.${{ env.LIB_VERSION }} zig-out/aarch64-linux-musl/libscrapli-aarch64-linux-musl.so.${{ env.LIB_VERSION }}
          gh release upload ${{ github.ref_name }} zig-out/aarch64-linux-musl/libscrapli-aarch64-linux-musl.so.${{ env.LIB_VERSION }}#libscrapli-aarch64-linux-musl-${{ env.RELEASE_VERSION }}

          mv zig-out/aarch64-macos/libscrapli.${{ env.LIB_VERSION }}.dylib zig-out/aarch64-macos/libscrapli-aarch64-macos.dylib.${{ env.LIB_VERSION }}
          gh release upload ${{ github.ref_name }} zig-out/aarch64-macos/libscrapli-aarch64-macos.dylib.${{ env.LIB_VERSION }}#libscrapli-aarch64-macos-${{ env.RELEASE_VERSION }}

          mv zig-out/x86_64-linux-gnu/libscrapli.so.${{ env.LIB_VERSION }} zig-out/x86_64-linux-gnu/libscrapli-x86_64-linux-gnu.so.${{ env.LIB_VERSION }}
          gh release upload ${{ github.ref_name }} zig-out/x86_64-linux-gnu/libscrapli-x86_64-linux-gnu.so.${{ env.LIB_VERSION }}#libscrapli-x86-linux-gnu-${{ env.RELEASE_VERSION }}

          mv zig-out/x86_64-linux-musl/libscrapli.so.${{ env.LIB_VERSION }} zig-out/x86_64-linux-musl/libscrapli-x86_64-linux-musl.so.${{ env.LIB_VERSION }}
          gh release upload ${{ github.ref_name }} zig-out/x86_64-linux-musl/libscrapli-x86_64-linux-musl.so.${{ env.LIB_VERSION }}#libscrapli-x86-linux-musl-${{ env.RELEASE_VERSION }}

          mv zig-out/x86_64-macos/libscrapli.${{ env.LIB_VERSION }}.dylib zig-out/x86_64-macos/libscrapli-x86_64-macos.dylib.${{ env.LIB_VERSION }}
          gh release upload ${{ github.ref_name }} zig-out/x86_64-macos/libscrapli-x86_64-macos.dylib.${{ env.LIB_VERSION }}#libscrapli-x86-macos-${{ env.RELEASE_VERSION }}
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}

  release-builder-image:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: set release version
        run: |
          RELEASE_TAG=${{ github.ref_name }}
          RELEASE_VERSION=${RELEASE_TAG#v}

          echo "RELEASE_VERSION=$RELEASE_VERSION" >> "$GITHUB_ENV"

      - name: build builder image
        run: |
          docker build -f build/builder.Dockerfile build/ -t ghcr.io/scrapli/libscrapli/builder:${{ env.RELEASE_VERSION }}

      - name: tag and push builder image to ghcr
        run: |
          docker tag ghcr.io/scrapli/libscrapli/builder:${{ env.RELEASE_VERSION }} ghcr.io/scrapli/libscrapli/builder:latest
          docker push ghcr.io/scrapli/libscrapli/builder:${{ env.RELEASE_VERSION }}
          docker push ghcr.io/scrapli/libscrapli/builder:latest
